@tailwind base;
@tailwind components;
@tailwind utilities;

.ant-menu-dark{
    background-color: #000000 !important;
}

.ant-menu-submenu-selected{
    background-color: #F5004F !important;
    border-radius: 10px !important;
}